*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Playfair Display", serif;
}
.navbar{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    
}
.navbar h3{
    font-weight: bold;
}
.navbar p{
    margin: 10px;
    color: white;
    text-decoration: none;
}
.menu__card{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;

}
.card{
    width: 200px;
    background-color: white;
    color: black;
    
}
.card img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    
}
.card button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    
}
.contact h2{
    text-align: center;
    justify-content: space-around;
}

.contact form{
    width: 250px;
    margin: auto;
    display: inline-block;
    flex-wrap: wrap;
}
.contact input{
    width: 150px;
    padding: 5px;
    margin: 5px ;
}
.contact button{
    width: 500px;
    padding: 10px;
    background-color: #a4b000;
    justify-content: space-around;
    text-align: center;
}